.cutesy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.cutesy-list {
  background-color: #f8fbfe;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 16px;
  z-index: 10;
  position: relative;
  text-align: left;
  @media (min-width: 768px) {
    width: 50%;
    height: 80%;
  }
  width: 80%;
  height: 90%;
  color: #141414;
  padding: 16px;
  overflow-y: auto;

  h1 {
    margin-bottom: 16px;
  }

  h2 {
    margin-bottom: 8px;
  }

  img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
  }
}

.cutesy-divider {
  margin: 32px;
}
.cutesy-eyes {
  position: relative;
  width: 100%;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.eyes-eyes {
  /* display: inline; */
}

.cutesy-hearts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 36px;
  overflow-x: hidden;
  overflow-y: hidden;
  pointer-events: none;
}

.cutesy-heart {
  display: inline-block;
}
